{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie de plat{% endblock %}

{% block body %}
    <div class="offset-2 col-8">
        <h1 class="text-center">Modifier une Categorie de Plats</h1>

            {{ include('categorie_plats/_form.html.twig') }}

        <div class="d-flex justify-content-around">
            <a href="{{ path('categorie_plats_index') }}" class="btn btn-primary">Retour à la liste</a>

            {{ include('categorie_plats/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
