{% extends 'base.html.twig' %}

{% block title %}Voici vos catégories de plat{% endblock %}

{% block body %}
    <div class="offset-2 col-8">
        <h1 class="text-center">Categorie Plats index</h1>

        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th>Nom de la catégorie</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for categorie_plat in categorie_plats %}
                <tr>
                    <td>{{ categorie_plat.libelle }}</td>
                    <td>
                        <a href="{{ path('categorie_plats_show', {'id': categorie_plat.id}) }}" class="btn btn-info">Voir
                            la catégorie</a>
                    </td>
                    <td>
                        <a href="{{ path('categorie_plats_edit', {'id': categorie_plat.id}) }}" class="btn btn-success">Modifier
                            la catégorie</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune catégorie trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <a href="{{ path('categorie_plats_new') }}" class="btn btn-primary">Ajouter une catégorie</a>
        </div>
    </div>
{% endblock %}
