{% extends 'base.html.twig' %}

{% block title %}Hello AccueilClientController!{% endblock %}

{% block body %}


    <div>
        <h1> Connecté </h1>

        <a href="a_definir_le_chemin.html.twig">Profils</a>
        <a href="a_definir_le_chemin.html.twig">Historique des Commandes</a>
        <a href="a_definir_le_chemin.html.twig">Se Déconnecter</a>

    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Adresse</th>
                // récupérer les catégories restaurants
                <th></th>


            </tr>
            </thead>

        </table>

    </div>

{% endblock %}
