{% extends 'base.html.twig' %}

{% block title %}Hello AccueilClientController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('navbarLeft') }}
{% endblock %}

{% block body %}
    <div class="vertical-nav" id="sidebar">
        <ul class="nav flex-column mb-0">
            <li class="nav-item">
                <a class="nav-link font-italic">
                   Catégorie 1
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-italic">
                    Catégorie 2
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-italic">
                    Catégorie 3
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-italic">
                    Catégorie 4
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-italic">
                    Catégorie 5
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-italic">
                    Catégorie 6
                </a>
            </li>
        </ul>
    </div>

    <div class="page-content">
        <table>
            <thead>
            <tr>
                <th>Adresse</th>
                // récupérer les catégories restaurants
                <th></th>


            </tr>
            </thead>

        </table>
    </div>
{% endblock %}
