{% extends 'base.html.twig' %}

{% block title %}Edit CategorieRestaurant{% endblock %}

{% block body %}
    <div class="offset-2 col-8">
        <h1 class="text-center">Editer une Categorie de Restaurant</h1>

        {{ include('categorie_restaurant/_form.html.twig') }}

        <div class="d-flex justify-content-around">
            <a href="{{ path('categorie_restaurant_index') }}" class="btn btn-primary">Retour à la liste</a>

            {{ include('categorie_restaurant/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
