html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #1237e5, #615bec, #8c80f3, #b1a5f8, #d3cbfc, #dfcefa, #e9d1f9, #f2d5f7, #f8b1e0, #ff88b7, #ff5e81, #f4373f);

}
