{% extends 'base.html.twig' %}

{% block title %}Modifier la ville{% endblock %}

{% block body %}
<div class="offset-2 col-8 mt-5">
    <h1 class="text-center mb-3">Modifier la ville</h1>

    {{ include('ville/_form.html.twig') }}
{% endblock %}
