{% extends 'base.html.twig' %}

{% block title %}Edit Ville{% endblock %}

{% block body %}
<div class="offset-2 col-8">
    <h1 class="text-center">Editer la ville</h1>

    {{ include('ville/_form.html.twig') }}

    <div class="d-flex justify-content-around">
    <a href="{{ path('ville_index') }}" class="btn btn-primary">Retour à la liste</a>

    {{ include('ville/_delete_form.html.twig') }}
    </div>
{% endblock %}
