{% extends 'base.html.twig' %}

{% block title %}Ville index{% endblock %}

{% block body %}
<div class="offset-2 col-8">
    <h1 class="text-center">Ville index</h1>

    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>Nom Ville</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.nomVille }}</td>
                <td>
                    <a href="{{ path('ville_show', {'id': ville.id}) }}" class="btn btn-info">Voir</a>
                </td>
                <td>
                    <a href="{{ path('ville_edit', {'id': ville.id}) }}" class="btn btn-success">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune ville trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <a href="{{ path('ville_new') }}" class="btn btn-primary">Ajouter une ville</a>
    </div>
</div>
{% endblock %}
