{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau secteur{% endblock %}

{% block body %}
    <div class="offset-2 col-8 mt-5">
        <h1 class="text-center mb-3">Créer un nouveau secteur</h1>

        {{ include('secteur/_form.html.twig', {'button_label': 'Ajouter'}) }}
    </div>
{% endblock %}
