{% extends 'base.html.twig' %}

{% block title %}New Secteur{% endblock %}

{% block body %}
    <div class="offset-2 col-8">
        <h1 class="text-center">Créer un nouveau secteur</h1>

        {{ include('secteur/_form.html.twig', {'button_label': 'Ajouter'}) }}

        <div class="d-flex justify-content-center">
            <a href="{{ path('secteur_index') }}" class="btn btn-danger">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
