<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="jumbotron container">Hello World!</div>
{% block body %}{% endblock %}
</body>
{% block javascripts %}{% endblock %}
{{ encore_entry_script_tags('app') }}
</html>
