{% extends 'base.html.twig' %}

{% block title %}Hello AcceuilLivreurController!{% endblock %}

{% block body %}

    <div>La livraison {{ livraison.id }} à bien été validé comme étant livré</div>
    <a href="{{ path('livreur') }}" class="btn btn-primary">Retour aux livraison</a>

{% endblock %}
