{% extends 'base.html.twig' %}

{% block title %}Hello AccueilRestaurantController!{% endblock %}

{% block body %}
    <div class="offset-2 col-8 mt-5">
{% if restaurant.companyName is not null %}
        <div class="card text-center">
            <div class="card-header">
                {{ restaurant.companyName }}
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>

                <p class="card-text">Text description</p>
                <a href="{{ path('edit_restaurant', {'id': restaurant.id}) }}" class="btn btn-primary">Modifier votre
                    nom</a>
            </div>
            <div class="card-footer text-muted">
                <div class="d-flex justify-content-around">
                    {% for categorie in restaurant.categorieRestaurants %}
                        <div>{{ categorie.libelle }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
            <h1 class="text-center">Merci de finaliser votre inscription en tant que restaurateur en suivant ce lien :</h1>

        <a href="{{ path('edit_restaurant', {'id': restaurant.id}) }}" class="btn btn-primary d-flex justify-content-center ml-5 mr-5 mt-5">Poursuivre votre enregistrement</a>
        {% endif %}
    </div>
{% endblock %}
