{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}



    <img src="{{ asset('img/resources/ahahah1.jpg') }}" alt="img-logo"
         class="rounded mx-auto d-block col-md-6 col-lg-4 mt-4 col-10 mb-5">

    <h1 class="text-center mt-3">Dehors les jeunes rageux frustrés!</h1>



{% endblock %}
